.product-list-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 40%;
  padding-right: 1rem;
  background-color: rgb(214, 208, 208);
  margin: 0.5 rem;
}
