.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 50%;
  padding: 0.5rem;
  margin-top: 15%;
  .login-label {
    font-weight: 300;
  }
  input {
    margin: 1rem 0rem;
    border: none;
    border-bottom: 1px solid darkgrey;
  }
  input:focus {
    outline: none;
  }
  .button-submit {
    color: black;
  }
}
