.second-layout-container {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}
.header-section {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .header-section-left {
    padding: 0.5rem 1rem;
  }
  .header-section-right {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  .fas {
    font-size: 1.3rem;
    color: darkgray;
    align-self: center;
    padding: 0.8rem 0.8rem;
  }

  .fas:hover {
    color: black;
  }
  .header-section-right-user {
    align-self: flex-end;
    padding: 0.8rem 0.8rem;
    font-size: 0.9rem;
  }
  .header-section-right-user-logout {
    align-self: flex-end;
    padding: 0.8rem 0.8rem;
    font-size: 0.9rem;
  }
}
