.main-header {
  z-index: 10;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: rgb(204, 204, 204);
}
.gender-container-big {
  display: flex;
  .gender-container-man-big {
    width: 15%;
    height: auto;
    left: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
    .gender-container-text-droppable-man {
      display: none;
    }
  }
  .gender-container-man-big:hover {
    .gender-container-text-droppable-man {
      display: block;
      top: 100%;
      position: absolute;
      padding: 0.3rem;
      list-style: none;
      padding-left: 0px;
      li {
        padding: 0.3rem 0rem;
      }
      li:hover {
        border-bottom: 1px solid black;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.3rem 0.5rem;
      }
    }
  }

  .gender-container-woman-big {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15%;
    height: auto;
    display: flex;
    margin-left: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
    .gender-container-text-droppable-woman {
      display: none;
      li {
        padding: 0.3rem 0rem;
      }
      li:hover {
        border-bottom: 1px solid black;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.3rem 0.5rem;
      }
    }
  }
}
.gender-container-woman-big:hover {
  .gender-container-text-droppable-woman {
    display: block;
    top: 100%;
    position: absolute;
    padding: 0.3rem;
    list-style: none;
    padding-left: 0px;
    li {
      padding: 0.3rem 0rem;
    }
  }
}
.menu-container {
  display: none;
}
.user-shop-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  width: 20%;
}

.far {
  position: relative;
  padding: 0.4rem;
  font-size: 1.15rem;
}
.logout {
  display: none;
}
.far:hover {
  .logout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    top: 90%;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    height: 4rem;
    width: 6rem;
    background-color: black;
    right: 0rem;
  }
}
.fas {
  position: relative;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: white;
}
.shop-container {
  display: none;
}
.shop-header p,
.pic-shop-order-hover,
.button-shop {
  display: none;
}
.fas:hover {
  .order-shop-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90%;
    right: 0rem;
    height: auto;
    width: 20rem;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  .shop-header p,
  .button-shop {
    display: block;
  }
  .shop-header {
    width: 100%;
    height: 6.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1rem;
    background-color: black;
    .button-shop {
      width: 40%;
      height: 2rem;
      background-color: white;
      margin: 0.5rem;
      padding: 0.3rem;
      color: black;
      text-align: center;
      font-weight: 500;
      font-size: 0.9rem;
      box-shadow: rgba(235, 235, 235, 0.1) 0px 0px 16px;
    }
  }
  .text-shop-header {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .items-shop-order {
    width: 20rem;
    height: auto;
    padding: 0.5rem 1rem;
    background-color: white;
  }
  .pic-shop-order-hover {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    .picture {
      padding: 0.3rem;
      width: 25%;
    }
  }
  .info-shop-hover-name {
    padding: 0.3rem;
    width: 65%;
    color: black;
    font-weight: 300;
    font-size: 0.9rem;
  }
  .info-shop-hover-price {
    text-align: center;
    padding: 0.3rem;
    width: 10rem;
    width: 15%;
    color: black;
    font-weight: 300;
    font-size: 0.9rem;
  }
}
.user-session-container {
  align-self: center;
}
a {
  color: white;
}
.info-shop-hover {
  color: black;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.3rem;
}
@media only screen and (max-width: 668px) {
  .gender-container-big {
    display: none;
  }

  .main-header {
    position: relative;
    .black-background {
      width: 100%;
      height: 50vh;
      background-color: black;
      position: absolute;
      right: 0rem;
      left: 0rem;
      top: 5rem;
      bottom: 0rem;
    }

    .gender-container-woman {
      position: absolute;
      top: 1rem;
      left: 5%;
      display: flex;
      justify-content: center;

      .gender-container-text-droppable-woman {
        display: block;
        list-style: none;
        padding: 2rem 0.3rem;

        li {
          padding: 0.5rem 0.3rem;
        }
      }
    }
    .gender-container-man {
      position: absolute;
      top: 1rem;
      left: 50%;
      display: flex;
      justify-content: center;

      .gender-container-text-droppable-man {
        display: block;
        list-style: none;
        padding: 2rem 0.3rem;
        margin: 0rem;

        li {
          padding: 0.5rem 0.3rem;
        }
      }
    }

    .menu-container {
      display: block;
    }

    justify-content: space-between;
    .gender-container {
      display: block;
    }
    .logo-container h2 {
      font-size: 1.1rem;
    }
    .user-shop-container {
      width: 30%;
      justify-content: flex-end;
      margin-right: 0;
      padding-right: 0;
      .user-session-container {
        display: none;
      }
      .user-session-container {
        padding: 0rem 1rem;
      }
      div.fas {
        margin: 0rem 1rem;
      }
    }
    .item-container {
      width: 45%;
    }
  }
}
