.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: rgb(204, 204, 204);
}
.sex-container {
  width: 15%;
  height: auto;
  display: flex;
  margin-left: 0.5rem;
  justify-content: space-between;
  .sex-container-text {
    padding: 0.3rem;
  }
}
.user-shop-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  width: 20%;
}

.far {
  position: relative;
  padding: 0.4rem;
  font-size: 1.15rem;
}
.logout {
  display: none;
}
.far:hover {
  .logout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    height: 4rem;
    width: 6rem;
    background-color: black;
    right: 0rem;
  }
}
.fas {
  font-size: 1.2rem;
  padding: 0.4rem;
  color: white;
}
#shop-icon {
  color: white;
}
.user-sesion-container {
  align-self: center;
}
a {
  color: white;
}
