.main-footer {
  font-size: 0.8rem;
  position: absolute;
  height: auto;
  padding: 0.5rem 0.5rem;
  width: 100%;
  background-color: black;
  color: blanchedalmond;
}
.info-list-links {
  padding: 0.2rem;
}
