.main-footer {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  position: absolute;
  height: auto;
  padding: 0.5rem 0.5rem;
  width: 100%;
  background-color: black;
  color: blanchedalmond;
}
.links-container {
  height: auto;
  padding: 2rem 0rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-list {
  display: flex;
  flex-direction: column;
}
.info-list li {
  list-style-type: none;
  padding: 0.5rem 0rem;
}
@media only screen and (max-width: 668px) {
  .main-footer {
    display: none;
  }
}
